.account-page {
    margin: 60px auto 100px;
}

.account-page-header {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 30px;
}

.header-img-container {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #D8D8D8;
    cursor: pointer;
}

.account-img {
    height: 100%;
    display: flex;
}

.header-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000000B3;
    display: none;
}

.edit-icon {
    height: 40%;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-img-container:hover .header-img-overlay {
    display: flex;
}

.user-username {
    margin: 5px 0 0;
}

.user-stats-container {
    display: flex;
    gap: 5px;
    margin: 10px 0 0;
}

.account-container {
    width: 650px;
    margin: 30px auto 40px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 30px 125px;
}

.account-container-header h2 {
    text-align: center;
}

.account-container-header .caption-copy {
    color: #6E2F3A;
    text-align: center;
    margin: 5px 0 0;
}

.account-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0;
    gap: 20px;
}

.account-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account-form .account-form-row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.account-form .account-form-row .input-label {
    width: calc(50% - 10px);
}

.account-form input {
    padding: 13px 15px;
}

.update-account-button {
    background-color: #ECE4B7;
    height: 50px;
    width: 100%;
}

.update-account-button-active {
    background-color: #7FB069;
}

.cancel-button {
    margin: auto;
}

.account-form-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.google-account .account-form-footer {
    justify-content: end;
}

.logout-button {
    height: 40px;
    width: 120px;
    background-color: #E6AA68;
}

.perm-actions-container {
    margin: auto;
    width: fit-content;
}

.perm-actions-button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.perm-actions-closed .delete-account-button {
    display: flex;
}

.perm-actions-button .caption-copy {
    font-size: 12px;
}

.perm-actions-button .left-arrow-icon {
    rotate: 180deg;
    height: 9px;
}

.perm-actions-closed .perm-actions-button .left-arrow-icon {
    rotate: 270deg;
}

.delete-account-button {
    height: 35px;
    width: 120px;
    background-color: #941414;
    margin: 20px auto 0;
    border-radius: 8px;
    display: none;
}

.delete-account-button .caption-copy {
    font-size: 12px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .account-page {
        margin: 30px auto 80px;
    }

    .account-page-header {
        padding: 0 5%;
        gap: 20px;
    }

    .header-img-container {
        width: 90px;
        height: 90px;
    }

    .user-username {
        margin: 5px 0 0;
        font-size: 14px;
    }

    .user-stats-container p {
        font-size: 12px;
    }

    .account-container {
        margin: 25px auto 30px;
        width: 90%;
        max-width: 650px;
        padding: 20px;
    }

    .account-container-header h2 {
        font-size: 21px;
    }

    .account-inner {
        margin: 15px auto 0;
        max-width: 400px;
    }

    .account-form {
        gap: 10px;
    }

    .update-account-button {
        height: 35px;
    }

    .update-account-button p {
        font-size: 14px;
    }

    .cancel-button {
        font-size: 14px;
    }

    .change-password-button {
        font-size: 12px;
    }

    .logout-button {
        height: 30px;
        width: 80px;
    }

    .logout-button p {
        font-size: 12px;
    }

    .perm-actions-button .caption-copy {
        font-size: 10px;
    }

    .perm-actions-button .left-arrow-icon {
        height: 7px;
    }

    .delete-account-button {
        height: 30px;
        width: 100px;
    }

    .delete-account-button .caption-copy {
        font-size: 10px;
    }
}