.list-page-actions {
    width: 100%;
    margin: 30px 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.list-page-filter-actions {
    display: flex;
    align-items: start;
    gap: 30px;
}

.list-page-actions .ownership-selector {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 50px;
}

.list-page-actions .ownership-option {
    height: 35px;
    padding: 0 15px;
    border-radius: 30px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list-page-actions .ownership-option p {
    line-height: 100%;
}

.list-page-actions .active-ownership-option {
    background-color: #ECE4B7;
    cursor: unset;
}

.list-page-actions .sorting-dropdown {
    min-width: 200px;
}

.list-page-actions .dropdown-option {
    padding: 12px 7% 10px;
}

.list-page-actions .dropdown-option p {
    line-height: 100%;
}

.list-page-actions .dropdown-bottom {
    top: 49px;
}

.list-page-actions .dropdown-top {
    height: 50px;
    gap: 10px;
    padding: 0 19px;
}

.list-page-actions .sorting-dropdown .up-arrow-icon {
    width: 12px;
}

.list-page-actions .add-piece-button {
    height: 50px;
    width: 170px;
    background-color: #E6AA68;
}

.shelf-actions-buttons {
    display: flex;
    gap: 8px;
}

@media (max-width: 1230px) {
    .list-page-filter-actions {
        gap: 15px;
    }
}

@media (max-width: 992px) {
    .list-page-actions {
        width: 90%;
        margin: 20px auto 25px;
    }
}

@media (max-width: 768px) {
    .list-page-actions {
        width: 90%;
        margin: -40px auto 20px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .list-page-actions .add-piece-button {
        margin-left: auto;
        height: 40px;
        width: 100px;
    }

    .list-page-actions .add-piece-button p {
        font-size: 14px;
    }

    .list-page-filter-actions {
        width: 100%;
        justify-content: space-between;
        gap: 0;
        max-width: 340px;
    }

    .list-page-actions .ownership-selector {
        padding: 0 5px;
        height: 40px;
        gap: 5px;
    }

    .list-page-actions .ownership-option {
        height: 30px;
        padding: 0 10px;
    }

    .list-page-actions .ownership-option p {
        font-size: 12px;
    }

    .list-page-actions .sorting-dropdown {
        min-width: 140px;
        width: 140px;
    }

    .list-page-actions .dropdown-top {
        padding: 0 10px;
        gap: 5px;
        height: 40px;
    }

    .list-page-actions .sorting-dropdown .up-arrow-icon {
        width: 8px;
    }

    .list-page-actions .dropdown-bottom {
        top: 39px;
    }

    .list-page-actions .dropdown-option {
        padding: 8px 7% 8px;
    }

    .list-page-actions .dropdown-option p {
        font-size: 12px;
    }
}