.list-page-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-page-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    border-radius: 0 0 12px 12px;
    background-color: #6E2F3A;
}

.list-page-banner h1 {
    color: #FFFFFF;
}

.list-page-breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumb-next {
    font-size: 14px !important;
    line-height: 100%;
}

.list-page-breadcrumb p {
    font-size: 12px;
}

.breadcrumb-link:hover {
    text-decoration: 1px solid underline #000;
    text-underline-offset: 1px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .list-page-header-container.mobile-only {
        display: flex !important;
    }

    .list-page-header-container.desktop-only {
        display: none !important;
    }

    .list-page-banner {
        padding: 30px 0;
        border-radius: 0;
    }

    .list-page-breadcrumb {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .list-page-banner {
        padding: 20px 0;
        border-radius: 0;
    }

    .list-page-breadcrumb {
        gap: 3px;
    }

    .breadcrumb-item {
        gap: 3px
    }

    .list-page-breadcrumb p {
        font-size: 10px;
    }
}