.list-page-card-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
}

.list-page-cards-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-page-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


@media (max-width: 992px) {
    .list-page-card-layout {
        gap: 15px;
        width: 90%;
        margin: 0 auto 80px;
    }

    .list-page-cards-header {
        gap: 5px;
    }

    .list-page-cards-header .caption-copy {
        font-size: 12px;
    }

    .list-page-card-container {
        gap: 10px;
    }
}