.modal-wrapper {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #00000099;
    z-index: 10000;
}

.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.close-modal-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.close-icon {
    height: 100%;
}

.modal-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0 0;
    width: 100%;
}

.modal-header h4 {
    padding-left: 30px;
}

@media (max-width: 768px) {
    .close-modal-button {
        height: 15px;
        width: 14px;
        top: 15px;
        right: 15px;
    }

    .modal-container {
        width: 90%;
    }

    .modal-header {
        gap: 10px;
        padding: 15px 0 0;
    }

    .modal-header h4 {
        font-size: 18px;
        padding-left: 15px;
    }
}