.account-page {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-container h2 {
    margin: 20px 0 5px;
}

.account-container .user-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #E6E6E6;
}

.events-button {
    height: 40px;
    width: 200px;
    padding: 0 20px;
    background: #b4e1b7;
    margin: 20px 0 0;
}

.account-form {
    margin: 30px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.account-form-item {
    display: flex;
    flex-direction: column;
}

input {
    width: 500px;
    margin-top: 3px;
}

.submit-button {
    height: 40px;
    width: 200px;
    padding: 0 20px;
    background: #202020;
    margin: 20px 0 0;
    transition: background-color 0.3s ease;
}

.submit-button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #ccc !important;
    color: #666;
    box-shadow: unset !important;
}

.submit-button p {
    color: #FFFFFF;
}

.signout-button {
    height: 40px;
    padding: 0 20px;
    background: #F8F8F8;
    margin: 20px 0 0;
}

@media (max-width: 768px) {
    .account-page {
        margin: 25px auto;
    }

    .account-container .user-img {
        height: 80px;
        width: 80px;
    }

    .account-container h2 {
        margin: 10px 0 5px;
    }

    .events-button {
        height: 35px;
        width: 150px;
    }

    .account-form {
        margin: 20px auto 10px;
        gap: 10px;
    }

    input {
        width: 300px;
    }

    label {
        font-size: 14px;
    }

    .submit-button {
        height: 35px;
        width: 150px;
        margin: 10px 0 0;
    }

    .signout-button {
        height: 35px;
    }
}