/* cart.css */

.cart-page {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cart-page-header {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.cart-page-header h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    top: 0;
}

.cart-wrapper {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

.cart-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-event-item {
    border: 2px solid #202020;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    gap: 30px;
    background-color: #eaeaf8;
    align-items: flex-start;
}

.cart-event-item img {
    width: 250px;
    border-radius: 8px;
}

.cart-event-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart-event-info-sep {
    height: 1px;
    width: 100%;
    background-color: #202020;
    margin: 10px 0;
}

.cart-event-name {
    font-size: 32px;
    margin-bottom: 5px;
}

.cart-event-item h4 {
    font-size: 21px;
}

.cart-event-item h5 {
    font-size: 18px;
}

.cart-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.back-button {
    height: 45px;
    width: 170px;
    background-color: #b4e1b7;
    color: #202020;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.cart-button {
    margin-top: 15px;
    height: 45px;
    width: 150px;
    background-color: #a44848;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.cart-button:hover {
    opacity: 0.85;
}

.checkout-button {
    position: sticky;
    top: 120px;
    height: 45px;
    width: 200px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.checkout-button:hover {
    opacity: 0.85;
}

.empty-cart-message {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

.view-events-button {
    margin-top: 20px;
    height: 45px;
    width: 200px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-events-button:hover {
    opacity: 0.85;
}

@media (max-width: 768px) {
    .cart-page {
        margin: 25px auto;
        gap: 0;
    }

    .cart-wrapper {
        flex-direction: column-reverse;
        gap: 30px;
        align-items: flex-end;
        margin-top: -35px;
    }

    .cart-page-header {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        margin-bottom: 0;
        z-index: 1;
    }

    .cart-page-header h1 {
        position: relative;
    }

    .back-button {
        height: 35px;
        width: 150px;
    }

    .checkout-button {
        height: 35px;
        width: 120px;
        top: 0;
        position: relative;
        z-index: 2;
    }

    .cart-container {
        min-width: unset;
        width: 100%;
        gap: 20px;
    }

    .cart-event-item {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .cart-event-img {
        width: 100%;
        max-width: 350px;
        max-height: 150px;
        object-fit: cover;
        display: flex;
    }

    .cart-event-item img {
        width: 100%;
        object-fit: cover;
    }

    .cart-event-info {
        width: 100%;
    }

    .cart-event-name {
        font-size: 24px;
    }

    .cart-event-item h4 {
        font-size: 16px;
    }

    .cart-event-item h5 {
        font-size: 16px;
    }

    .ticket-quantity {
        margin: 5px 0;
    }

    .cart-button {
        width: 100px;
        height: 35px;
    }
}