.chatroom {
    border: 2px solid #202020;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    height: 100%;
}

.chat-box {
    max-height: 300px;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-message {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    word-wrap: break-word;
    padding: 10px 15px;
    border-radius: 8px;
    position: relative;
}

.own-message {
    align-self: flex-end;
    background-color: #3b7ec5;
    color: white;
    border-bottom-right-radius: 0;
}

.other-message {
    align-self: flex-start;
    background-color: #E6E6E6;
    color: #202020;
    border-bottom-left-radius: 0;
}

.chat-text {
    margin-bottom: 5px;
    font-size: 18px;
}

.chat-time {
    font-size: 12px;
    color: #E6E6E6;
    align-self: flex-end;
}

.other-message .chat-time {
    align-self: flex-start;
    color: #202020;
}

.chat-input {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #E6E6E6;
    margin: 0;
    width: 100%;
}

.send-button {
    width: 150px;
    background-color: #202020;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 600;
    box-shadow: unset;
}

.send-button:hover {
    box-shadow: unset;
}

@media (max-width: 1100px) and (min-width: 993px) {
    .chat-input {
        flex-direction: column;
        gap: 10px;
    }

    .chat-input input {
        width: calc(100% - 35px);
    }

    .send-button {
        height: 45px;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .chatroom {
        padding: 15px;
    }

    .chat-box {
        padding: 10px 5px 5px;
        max-height: 250px;
    }

    .own-message {
        padding: 7px 10px;
    }

    .chat-text {
        font-size: 14px;
    }

    .chat-input {
        gap: 10px;
        margin-top: 0px;
    }

    .chat-input input {
        font-size: 16px;
        padding: 5px 10px;
    }

    .send-button {
        width: 80px;
        font-size: 16px;
    }
}