body {
  margin: 0 auto 100px;
  width: 100%;
  max-width: 1800px;
  font-family: "Georgia", serif;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

div {
  box-sizing: border-box;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: 600 !important;
}

.error-text {
  color: rgb(176, 49, 49);
}

.hyperlink-text {
  font-weight: 600 !important;
  text-decoration: 1px solid underline #000;
  text-underline-offset: 3px;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }
}

/* FONTS */
h1 {
  font-size: 37px;
  font-weight: 500;
  line-height: 120%;
  margin: 0px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  margin: 0px;
}

h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  margin: 0px;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  margin: 0px;
}

h5 {
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  margin: 0px;
}

.body-copy {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin: 0px;
}

.caption-copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 21px;
  }

  h5 {
    font-size: 18px;
  }

  .body-copy {
    font-size: 16px;
  }

  .caption-copy {
    font-size: 14px;
  }
}

/* FONTS */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px #202020;
  border-radius: 8px;
  border: unset;
  cursor: pointer;
  font-family: sans-serif;
}

.button:hover {
  box-shadow: 0 0 0 2px #202020;
}

input,
textarea,
select {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  padding: 5px 10px;
}

.loading-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  input,
  textarea,
  select {
    font-size: 18px;
    padding: 5px 10px;
  }
}