.login-container {
    width: 90%;
    margin: 50px auto;
}

.login-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-inner h1 {
    margin-bottom: 50px;
}

.login-inner>:last-child {
    margin-top: 15px;
}

.loggedin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggedin-container h2 {
    margin: 20px 0 5px;
}

.loggedin-container .user-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #E6E6E6;
}

.loggedin-container .button {
    height: 40px;
    padding: 0 20px;
    background: #F8F8F8;
    margin: 20px 0 0;
}

@media (max-width: 768px) {
    .login-container {
        margin: 25px auto;
    }

    .login-container .user-img {
        height: 80px;
        width: 80px;
    }
}