.nav-wrapper {
    padding: 30px 0;
    border-bottom: 2px solid #E6E6E6;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-inner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-link {
    background-color: #F5E8AA;
    padding: 0 25px;
    height: 40px;
}

.active-auth-link {
    box-shadow: 0 0 0 2px #202020;
}

.auth-link h5 {
    font-size: 18px;
}

.home-link {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}

.cart-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    transition: .5s;
}

.cart-link:hover {
    background-color: #E6E6E6;
}

.active-cart-link {
    background-color: #E6E6E6;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    /* so it doesn’t block clicks on cart icon */
}

.cart-badge p {
    padding-bottom: 2px;
}

.nav-inner img {
    height: 60%;
}

.mobile-menu-button {
    display: none;
}

@media (max-width: 768px) {
    .nav-wrapper {
        padding: 20px 0;
    }

    .home-link h2 {
        font-size: 28px;
    }

    .auth-link {
        height: 35px;
        padding: 0 15px;
    }

    .auth-link h5 {
        font-size: 16px;
    }

    .cart-link {
        height: 40px;
        width: 40px;
    }

    .cart-badge {
        width: 20px;
        height: 20px;
    }

    .cart-badge p {
        font-size: 14px;
    }

    .home-link {
        position: relative;
    }
}